@page
@model RazorPageBlog.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<partial name="_ArticleDetail" for="Article" />

<div>
    <a asp-page="./Index">Back to List</a>
</div>